#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  height: 100%;
}
